<table class="table table-bordered">
    <thead>
    <tr>
        <th>Contexte</th>
        <th>Entité</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Contexte 1</td>
        <td>Entite 2</td>
        <td>
            <a class="btn btn-default" ui-sref="jenkins.risques.evaluations.view({contexteId: 1, entiteId: 2})">Voir le détail</a>
            <!--<a class="btn btn default" uiSref="jenkins.risques.evaluations.view" [uiParams]="{contexteId: 1, entiteId: 2}">Voir le détail</a>-->
        </td>
    </tr>
    </tbody>
</table>